@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

/* todo: change background */
::selection {
  background: #d852fd;
  color: white;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "FreightSansProMedium", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
