@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: FreightSans;
    font-weight: 400;
    src: local("FreightSans"),
      url("/fonts/FreightSansProMedium-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: FreightSans;
    font-weight: 500;
    src: local("FreightSans"),
      url("/fonts/FreightSansProMedium-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: FreightSans;
    font-weight: 600;
    src: local("FreightSans"),
      url("/fonts/FreightSansProSemibold-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: FreightSans;
    font-weight: 700;
    src: local("FreightSans"),
      url("/fonts/FreightSansProBold-Regular.ttf") format("truetype");
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* todo: change background */
::selection {
  background: #d852fd;
  color: white;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "FreightSansProMedium", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
