@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .card {
    @apply transition-all dark:border-none border border-gray-50 hover:border hover:border-gray-100  duration-500 ease-in-out bg-gradient-to-br  from-white to-gray-100 rounded-[20px] shadow-main dark:shadow-sm dark:hover:shadow-main dark:!shadow-[#1D1D1D]  hover:scale-105 dark:from-[#141414] dark:to-[#100F15]   max-md:!transform-none;
  }
  .cardNew {
    @apply transition-all shadow-main dark:hover:shadow-[#010101] hover:shadow-gray-50   duration-500 ease-in-out bg-gradient-to-br  rounded-[20px]  hover:scale-105  max-md:!transform-none;
  }
  .text-input {
    @apply text-gray-700 hover:text-gray-800 focus:text-gray-900 sm:text-sm dark:text-gray-400 dark:placeholder:text-gray-700 placeholder:text-gray-200 dark:hover:text-gray-200 dark:focus:text-gray-200;
  }
  .tooltip {
    @apply absolute invisible opacity-0;
  }
  .has-tooltip:hover .tooltip {
    @apply z-50 visible opacity-100;
  }
  @font-face {
    font-family: Lato;
    font-weight: 300;
    src: local('Lato'),
      url('../public/fonts/lato/Lato-Thin.ttf') format('truetype');
  }
  @font-face {
    font-family: Lato;
    font-weight: 300;
    src: local('Lato'),
      url('../public/fonts/lato/Lato-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: Lato;
    font-weight: 400;
    src: local('Lato'),
      url('../public/fonts/lato/Lato-Regular.ttf') format('truetype');
  }
  /* semibold */
  @font-face {
    font-family: Lato;
    font-weight: 600;
    src: local('Lato'),
      url('../public/fonts/lato/Lato-Bold.ttf') format('truetype');
  }
  /* bold */
  @font-face {
    font-family: Lato;
    font-weight: 700;
    src: local('Lato'),
      url('../public/fonts/lato/Lato-Bold.ttf') format('truetype');
  }
}

@layer utilities {
  .animation-delay-500 {
    animation-delay: 0.5s;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

::selection {
  background: rgb(236, 72, 153);
  color: white;
}

.swiper-button-next {
  color: white !important;
  mix-blend-mode: difference;
  transform: translateX(-5px);
  transition: all 500ms;
}
.swiper-button-prev {
  color: white !important;
  mix-blend-mode: difference;
  transform: translateX(5px);
  transition: all 325ms;
}
.swiper-button-prev:hover {
  transform: translateX(-2px) scale(1.07);
}
.swiper-button-next:hover {
  transform: translateX(2px) scale(1.07);
}

.border-color-animation {
  /*NOTE: You can include all these using the shorthand 'animation' property, but some older  browsers require that all the values be in their own property. Additionally, I feel its easier to learn/demonstrate this way*/
  -webkit-animation-name: border-transition;
  animation-name: border-transition;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*default value for timing-function is ease, we'll specify linear to keep the same timing through out*/
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.text-color-animation {
  /*NOTE: You can include all these using the shorthand 'animation' property, but some older  browsers require that all the values be in their own property. Additionally, I feel its easier to learn/demonstrate this way*/
  -webkit-animation-name: text-transition;
  animation-name: text-transition;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*default value for timing-function is ease, we'll specify linear to keep the same timing through out*/
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.background-color-animation {
  /*NOTE: You can include all these using the shorthand 'animation' property, but some older  browsers require that all the values be in their own property. Additionally, I feel its easier to learn/demonstrate this way*/
  -webkit-animation-name: background-transition;
  animation-name: background-transition;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*default value for timing-function is ease, we'll specify linear to keep the same timing through out*/
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/*This is the animation used to change colors; In this instance, I made sure to have the same color at 0% as I did at 100% */

@keyframes border-transition {
  0% {
    border-color: #9abe36;
  }
  9% {
    border-color: #448fff;
  }
  18% {
    border-color: #f81444;
  }
  27% {
    border-color: hsl(25°, 95%, 53%);
  }
  36% {
    border-color: #5abec9;
  }
  45% {
    border-color: #fe6b6a;
  }
  54% {
    border-color: #50cbc3;
  }
  63% {
    border-color: #21c55d;
  }
  72% {
    border-color: #ebb304;
  }
  81% {
    border-color: #a855f7;
  }
  90% {
    border-color: #50cbc3;
  }
  100% {
    border-color: #eb4999;
  }
}
@keyframes text-transition {
  0% {
    color: #9abe36;
  }
  9% {
    color: #448fff;
  }
  18% {
    color: #f81444;
  }
  27% {
    color: hsl(25°, 95%, 53%);
  }
  36% {
    color: #5abec9;
  }
  45% {
    color: #fe6b6a;
  }
  54% {
    color: #50cbc3;
  }
  63% {
    color: #21c55d;
  }
  72% {
    color: #ebb304;
  }
  81% {
    color: #a855f7;
  }
  90% {
    color: #50cbc3;
  }
  100% {
    color: #eb4999;
  }
}
@keyframes background-transition {
  0% {
    background-color: #9abe36;
  }
  9% {
    background-color: #448fff;
  }
  18% {
    background-color: #f81444;
  }
  /* todo: r */
  27% {
    background-color: hsl(25°, 95%, 53%);
  }
  36% {
    background-color: #5abec9;
  }
  45% {
    background-color: #fe6b6a;
  }
  54% {
    background-color: #50cbc3;
  }
  63% {
    background-color: #21c55d;
  }
  72% {
    background-color: #ebb304;
  }
  81% {
    background-color: #a855f7;
  }
  90% {
    background-color: #50cbc3;
  }
  100% {
    background-color: #eb4999;
  }
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Lato, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.swiper-pagination-fraction {
  /* transform: translateY(-30px) !important; */
  text-align: right !important;
  width: 100% !important;
  position: relative !important;
  color: rgb(107, 114, 128) !important;
}
